In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('hrdatabase.xlsx',sheet_name='employee')

In [3]:
data.head

<bound method NDFrame.head of      EMPLOYEE_ID FIRST_NAME LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0            100     Steven      King     SKING  515.123.4567 2003-06-17
1            101      Neena   Kochhar  NKOCHHAR  515.123.4568 2005-09-21
2            102        Lex    DeHaan   LDEHAAN  515.123.4569 2001-01-13
3            103  Alexander    Hunold   AHUNOLD  590.423.4567 2006-01-03
4            104      Bruce     Ernst    BERNST  590.423.4568 2007-05-21
..           ...        ...       ...       ...           ...        ...
102          202        Pat       Fay      PFAY  603.123.6666 2005-08-17
103          203      Susan    Mavris   SMAVRIS  515.123.7777 2002-06-07
104          204    Hermann      Baer     HBAER  515.123.8888 2002-06-07
105          205    Shelley   Higgins  SHIGGINS  515.123.8080 2002-06-07
106          206    William     Gietz    WGIETZ  515.123.8181 2002-06-07

         JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
0       AD_PRES   24000             0.0           0             90
1         AD_VP   17000             0.0         100             90
2         AD_VP   17000             0.0         100             90
3       IT_PROG    9000             0.0         102             60
4       IT_PROG    6000             0.0         103             60
..          ...     ...             ...         ...            ...
102      MK_REP    6000             0.0         201             20
103      HR_REP    6500             0.0         101             40
104      PR_REP   10000             0.0         101             70
105      AC_MGR   12008             0.0         101            110
106  AC_ACCOUNT    8300             0.0         205            110

[107 rows x 11 columns]>

In [4]:
data_frame = pd.DataFrame(data)

In [5]:
data_frame

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,0.0,0,90
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,0.0,100,90
2,102,Lex,DeHaan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,0.0,100,90
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000,0.0,102,60
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000,0.0,103,60
...,...,...,...,...,...,...,...,...,...,...,...
102,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000,0.0,201,20
103,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500,0.0,101,40
104,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000,0.0,101,70
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008,0.0,101,110
106,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300,0.0,205,110

In [6]:
employees=pd.read_csv(r'employee.csv')

In [7]:
print("First name       Last name      Salary    Department ID")
result = employees[employees['FIRST_NAME'].str[:1]=='S']
for index, row in result.iterrows():
    print(row['FIRST_NAME'].ljust(15),row['LAST_NAME'].ljust(15),str(row['SALARY']).ljust(9),row['DEPARTMENT_ID'])

First name       Last name      Salary    Department ID
Steven          King            24000.0   90.0
Shelli          Baida           2900.0    30.0
Sigal           Tobias          2800.0    30.0
Shanta          Vollman         6500.0    50.0
Steven          Markle          2200.0    50.0
Stephen         Stiles          3200.0    50.0
Sarath          Sewall          7000.0    80.0
Sundar          Ande            6400.0    80.0
Sundita         Kumar           6100.0    80.0
Sarah           Bell            4000.0    50.0
Samuel          McCain          3200.0    50.0
Susan           Mavris          6500.0    40.0
Shelley         Higgins         12008.0   110.0

In [8]:
print("First name       Last name      Salary    Department ID")
result = employees[employees['FIRST_NAME'].str.find('M')==-1]
for index, row in result.iterrows():
    print(row['FIRST_NAME'].ljust(15),row['LAST_NAME'].ljust(15),str(row['SALARY']).ljust(9),row['DEPARTMENT_ID'])

First name       Last name      Salary    Department ID
Steven          King            24000.0   90.0
Neena           Kochhar         17000.0   90.0
Lex             DeHaan          17000.0   90.0
Alexander       Hunold          9000.0    60.0
Bruce           Ernst           6000.0    60.0
David           Austin          4800.0    60.0
Valli           Pataballa       4800.0    60.0
Diana           Lorentz         4200.0    60.0
Nancy           Greenberg       12008.0   100.0
Daniel          Faviet          9000.0    100.0
John            Chen            8200.0    100.0
Ismael          Sciarra         7700.0    100.0
Luis            Popp            6900.0    100.0
Den             Raphaely        11000.0   30.0
Alexander       Khoo            3100.0    30.0
Shelli          Baida           2900.0    30.0
Sigal           Tobias          2800.0    30.0
Guy             Himuro          2600.0    30.0
Karen           Colmenares      2500.0    30.0
Adam            Fripp           8200.0    50.0
Payam           Kaufling        7900.0    50.0
Shanta          Vollman         6500.0    50.0
Kevin           Mourgos         5800.0    50.0
Julia           Nayer           3200.0    50.0
Irene           Mikkilineni     2700.0    50.0
James           Landry          2400.0    50.0
Steven          Markle          2200.0    50.0
Laura           Bissot          3300.0    50.0
James           Marlow          2500.0    50.0
TJ              Olson           2100.0    50.0
Jason           Mallin          3300.0    50.0
Ki              Gee             2400.0    50.0
Hazel           Philtanker      2200.0    50.0
Renske          Ladwig          3600.0    50.0
Stephen         Stiles          3200.0    50.0
John            Seo             2700.0    50.0
Joshua          Patel           2500.0    50.0
Trenna          Rajs            3500.0    50.0
Curtis          Davies          3100.0    50.0
Randall         Matos           2600.0    50.0
Peter           Vargas          2500.0    50.0
John            Russell         14000.0   80.0
Karen           Partners        13500.0   80.0
Alberto         Errazuriz       12000.0   80.0
Gerald          Cambrault       11000.0   80.0
Eleni           Zlotkey         10500.0   80.0
Peter           Tucker          10000.0   80.0
David           Bernstein       9500.0    80.0
Peter           Hall            9000.0    80.0
Christopher     Olsen           8000.0    80.0
Nanette         Cambrault       7500.0    80.0
Oliver          Tuvault         7000.0    80.0
Janette         King            10000.0   80.0
Patrick         Sully           9500.0    80.0
Allan           McEwen          9000.0    80.0
Lindsey         Smith           8000.0    80.0
Louise          Doran           7500.0    80.0
Sarath          Sewall          7000.0    80.0
Clara           Vishney         10500.0   80.0
Danielle        Greene          9500.0    80.0
David           Lee             6800.0    80.0
Sundar          Ande            6400.0    80.0
Amit            Banda           6200.0    80.0
Lisa            Ozer            11500.0   80.0
Harrison        Bloom           10000.0   80.0
Tayler          Fox             9600.0    80.0
William         Smith           7400.0    80.0
Elizabeth       Bates           7300.0    80.0
Sundita         Kumar           6100.0    80.0
Ellen           Abel            11000.0   80.0
Alyssa          Hutton          8800.0    80.0
Jonathon        Taylor          8600.0    80.0
Jack            Livingston      8400.0    80.0
Kimberely       Grant           7000.0    0.0
Charles         Johnson         6200.0    80.0
Winston         Taylor          3200.0    50.0
Jean            Fleaur          3100.0    50.0
Girard          Geoni           2800.0    50.0
Nandita         Sarchand        4200.0    50.0
Alexis          Bull            4100.0    50.0
Julia           Dellinger       3400.0    50.0
Anthony         Cabrio          3000.0    50.0
Kelly           Chung           3800.0    50.0
Jennifer        Dilly           3600.0    50.0
Timothy         Gates           2900.0    50.0
Randall         Perkins         2500.0    50.0
Sarah           Bell            4000.0    50.0
Britney         Everett         3900.0    50.0
Samuel          McCain          3200.0    50.0
Vance           Jones           2800.0    50.0
Alana           Walsh           3100.0    50.0
Kevin           Feeney          3000.0    50.0
Donald          OConnell        2600.0    50.0
Douglas         Grant           2600.0    50.0
Jennifer        Whalen          4400.0    10.0
Pat             Fay             6000.0    20.0
Susan           Mavris          6500.0    40.0
Hermann         Baer            10000.0   70.0
Shelley         Higgins         12008.0   110.0
William         Gietz           8300.0    110.0

In [10]:
print("First name       Last name      Salary    Department ID")
result = employees.sort_values('FIRST_NAME', ascending=True)
for index, row in result.iterrows():
    print(row['FIRST_NAME'].ljust(15),row['LAST_NAME'].ljust(15),str(row['SALARY']).ljust(9),row['DEPARTMENT_ID'])

First name       Last name      Salary    Department ID
Adam            Fripp           8200.0    50.0
Alana           Walsh           3100.0    50.0
Alberto         Errazuriz       12000.0   80.0
Alexander       Hunold          9000.0    60.0
Alexander       Khoo            3100.0    30.0
Alexis          Bull            4100.0    50.0
Allan           McEwen          9000.0    80.0
Alyssa          Hutton          8800.0    80.0
Amit            Banda           6200.0    80.0
Anthony         Cabrio          3000.0    50.0
Britney         Everett         3900.0    50.0
Bruce           Ernst           6000.0    60.0
Charles         Johnson         6200.0    80.0
Christopher     Olsen           8000.0    80.0
Clara           Vishney         10500.0   80.0
Curtis          Davies          3100.0    50.0
Daniel          Faviet          9000.0    100.0
Danielle        Greene          9500.0    80.0
David           Lee             6800.0    80.0
David           Bernstein       9500.0    80.0
David           Austin          4800.0    60.0
Den             Raphaely        11000.0   30.0
Diana           Lorentz         4200.0    60.0
Donald          OConnell        2600.0    50.0
Douglas         Grant           2600.0    50.0
Eleni           Zlotkey         10500.0   80.0
Elizabeth       Bates           7300.0    80.0
Ellen           Abel            11000.0   80.0
Gerald          Cambrault       11000.0   80.0
Girard          Geoni           2800.0    50.0
Guy             Himuro          2600.0    30.0
Harrison        Bloom           10000.0   80.0
Hazel           Philtanker      2200.0    50.0
Hermann         Baer            10000.0   70.0
Irene           Mikkilineni     2700.0    50.0
Ismael          Sciarra         7700.0    100.0
Jack            Livingston      8400.0    80.0
James           Marlow          2500.0    50.0
James           Landry          2400.0    50.0
Janette         King            10000.0   80.0
Jason           Mallin          3300.0    50.0
Jean            Fleaur          3100.0    50.0
Jennifer        Whalen          4400.0    10.0
Jennifer        Dilly           3600.0    50.0
John            Chen            8200.0    100.0
John            Russell         14000.0   80.0
John            Seo             2700.0    50.0
Jonathon        Taylor          8600.0    80.0
JoseManuel      Urman           7800.0    100.0
Joshua          Patel           2500.0    50.0
Julia           Dellinger       3400.0    50.0
Julia           Nayer           3200.0    50.0
Karen           Partners        13500.0   80.0
Karen           Colmenares      2500.0    30.0
Kelly           Chung           3800.0    50.0
Kevin           Mourgos         5800.0    50.0
Kevin           Feeney          3000.0    50.0
Ki              Gee             2400.0    50.0
Kimberely       Grant           7000.0    0.0
Laura           Bissot          3300.0    50.0
Lex             DeHaan          17000.0   90.0
Lindsey         Smith           8000.0    80.0
Lisa            Ozer            11500.0   80.0
Louise          Doran           7500.0    80.0
Luis            Popp            6900.0    100.0
Martha          Sullivan        2500.0    50.0
Mattea          Marvins         7200.0    80.0
Matthew         Weiss           8000.0    50.0
Michael         Hartstein       13000.0   20.0
Michael         Rogers          2900.0    50.0
Mozhe           Atkinson        2800.0    50.0
Nancy           Greenberg       12008.0   100.0
Nandita         Sarchand        4200.0    50.0
Nanette         Cambrault       7500.0    80.0
Neena           Kochhar         17000.0   90.0
Oliver          Tuvault         7000.0    80.0
Pat             Fay             6000.0    20.0
Patrick         Sully           9500.0    80.0
Payam           Kaufling        7900.0    50.0
Peter           Hall            9000.0    80.0
Peter           Vargas          2500.0    50.0
Peter           Tucker          10000.0   80.0
Randall         Matos           2600.0    50.0
Randall         Perkins         2500.0    50.0
Renske          Ladwig          3600.0    50.0
Samuel          McCain          3200.0    50.0
Sarah           Bell            4000.0    50.0
Sarath          Sewall          7000.0    80.0
Shanta          Vollman         6500.0    50.0
Shelley         Higgins         12008.0   110.0
Shelli          Baida           2900.0    30.0
Sigal           Tobias          2800.0    30.0
Stephen         Stiles          3200.0    50.0
Steven          King            24000.0   90.0
Steven          Markle          2200.0    50.0
Sundar          Ande            6400.0    80.0
Sundita         Kumar           6100.0    80.0
Susan           Mavris          6500.0    40.0
TJ              Olson           2100.0    50.0
Tayler          Fox             9600.0    80.0
Timothy         Gates           2900.0    50.0
Trenna          Rajs            3500.0    50.0
Valli           Pataballa       4800.0    60.0
Vance           Jones           2800.0    50.0
William         Smith           7400.0    80.0
William         Gietz           8300.0    110.0
Winston         Taylor          3200.0    50.0

AttributeError: 'float' object has no attribute 'ljust'